@model NS.EMS.Model.EmployeeDtModel
@{
    ViewData["Title"] = "Employee Detail";
   
}

<h1>Add Employee</h1>
  
    <br />
    <br />
   
     <button type="button" class="btn btn-primary"  onclick="location.href='@Url.Action("ViewRecord", "Employee")';return false;">View Data</button>
     <br />
     <br />

    @using (Html.BeginForm()){
         @Html.AntiForgeryToken()
     

            <div class = "form-group">
                <b>
               @Html.LabelFor(
                  model => model.EmployeeName, htmlAttributes: new{
                     @class = "control-label col-md-2" })
				</b>
               <div class="editor-field">
                   @Html.TextBoxFor(model=>model.EmployeeName)
               </div>
					
            </div>

            <br>


            <div class = "form-group">
                <b>
               @Html.LabelFor(
                  model => model.Email, htmlAttributes: new{
                     @class = "control-label col-md-2" })
				</b>
               <div class="editor-field">
                   @Html.TextBoxFor(model=>model.Email)
               </div>
					
            </div>

            <br>

            <div class = "form-group">
                <b>               @Html.LabelFor(
                  model => model.Gender, htmlAttributes: new{
                     @class = "control-label col-md-2" })
				</b>

               <div>
                   <b>
                    Male: @Html.RadioButtonFor(model=>model.Gender,"Male") 
                  <br />
                    Female: @Html.RadioButtonFor(model=>model.Gender,"Female")
                  </b>
                   
               </div>
					
            </div>

            <br>

            <div class = "form-group">
                <b>
               @Html.LabelFor(
                  model => model.Mobile, htmlAttributes: new{
                     @class = "control-label col-md-2" })
				</b>
               <div class="editor-field">
                   @Html.TextBoxFor(model=>model.Mobile)
               </div>
					
            </div>

            <br>

            <div class = "form-group">
                <b>
               @Html.LabelFor(
                  model => model.DeptId, htmlAttributes: new{
                     @class = "control-label col-md-2" })
				</b>
               <div class="editor-field">

                   @Html.DropDownListFor(model=>model.DeptId, new List<SelectListItem>
                   {
                       new SelectListItem{Text="1.DOTNET", Value="1", Selected=true},
                       new SelectListItem{Text="2.REACT", Value="2", Selected=true},
                       new SelectListItem{Text="3.PHP", Value="3", Selected=true},
                       new SelectListItem{Text="4.PYTHON", Value="4", Selected=true},
                   },"Select Department")
               </div>
					
            </div>

            	<br>
                <br> 
                <div class = "form-group">
               <div class = "col-md-offset-2 col-md-10">
                  <input type = "submit" value = "Submit" class = "btn btn-default"/>
               </div>
            </div>



        }
             <div>
         @Html.ActionLink("Previous", "ViewRecord")
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="~/js/validation.js"></script>